
@font-face {
  font-family: 'TimesNRCondensedBold';
  src: url('TimesNRCondensedBold.eot?#iefix') format('embedded-opentype'),  url('TimesNRCondensedBold.woff') format('woff'), url('TimesNRCondensedBold.ttf')  format('truetype'), url('TimesNRCondensedBold.svg#TimesNRCondensedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
